################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Axpo.PowerTrade.App/Axpo.PowerTrade.App/obj
/Axpo.PowerTrade.App/Axpo.PowerTrade.App/bin/Debug/net8.0
/Axpo.PowerTrade.App/.vs/Axpo.PowerTrade.App
/Axpo.PowerTrade.App/.vs/Axpo.PowerTrading/v17
*.dll
*.pdb
/Axpo.PowerTrade.App/Axpo.PowerTrade.Application/bin/Debug/net8.0
/Axpo.PowerTrade.App/Axpo.PowerTrade.Application/obj
/Axpo.PowerTrade.App/.vs/Axpo.PowerTrading
/Axpo.PowerTrade.App/.vs/ProjectEvaluation
/Axpo.PowerTrade.App/Axpo.PowerTrade.UI/obj
/Axpo.PowerTrade.App/Axpo.PowerTrade.UI/bin/Debug/net8.0
